.intro-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    color: white;
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
    padding-bottom: 2vh;
}

.paragraph {
    padding-right: 200px;
}

.circle {
    background-color: #F7B05B;
    border-radius: 50%;
}

.right-img {
    height: 10rem;
}

.bottom-content {
    padding: 50px 20vw 0;
}

.connect,
.contact,
.email {
    text-align: center;
}

.contact {
    padding-top: 5vh;
}

.email {
    text-decoration: underline;
}