.intro-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    color: white;
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
    padding-bottom: 40px;
}

.paragraph {
    padding-right: 300px;
}

.bottom-content {
    padding: 50px 20vw 0;
}

.connect {
    text-align: center;
}