@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #4E8098;
  /* #084C61, #034748, #F4B860, #FFC15E, #F7B05B, #F7934C, #202C39, #283845  */
}

.special {
  color: #F7B05B;
}