footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 0 5vw;
    background-color: #202C39;
}

.updated {
    color: white;
}

.icons-link {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.linkedin {
    padding: 0 5vw;
}